<h1>Edit Recipe</h1>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="name">Name: </label>
      <input type="text" name="name" value="<%= @recipe.name %>">
    </li>
    <li>
      <label for="ingredients">Ingredients: </label>
      <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
    </li>
      <label for="cook_time">Cook Time: </label>
      <input type="text" name="cook_time"  value="<%= @recipe.cook_time %>">
    </li>
  </ul>
  <input type="submit" value="Submit">
</form>